name: "Como usar contexto no GitHub Actions"

on:
  workflow_dispatch:

env:
  ENV_WORKFLOW: "Valor WORKFLOW"

jobs:
  contextos:
    name: "Job que ira listar os contextos do GittHub Actions"
    runs-on: ubuntu-latest
    env:
        ENV_JOB: "Valor JOB CONTEXT"
    steps:
      - name: "Contexto github"
        env:
          CONTEXT_GITHUB: ${{ toJson(github) }}
        run: echo "$CONTEXT_GITHUB"
      - name: "Contexto env"
        env:
          CONTEXT_ENV: ${{ toJson(env) }}
        run: echo "$CONTEXT_ENV"
      - name: "Contexto secrets"
        env:
          CONTEXT_SECRETS: ${{ toJson(secrets) }}
        run: echo "$CONTEXT_SECRETS"
      - name: "Contexto job"
        env:
          CONTEXT_JOB: ${{ toJson(job) }}
        run: echo "$CONTEXT_JOB"

  contexto-vars:
      name: "Job que ira listar o contexto de variaveis (vars)"
      runs-on: ubuntu-latest
      steps:
        - name: "Contexto vars"
          env:
            CONTEXT_VARS: ${{ toJson(vars) }}
          run: echo "$CONTEXT_VARS"
        - name: "Buscando variavel especifica - (VAR_TESTE)"
          run: echo "${{ vars.VAR_TESTE }}"

  contexto-secrets:
      name: "Job que ira listar o contexto de secrets"
      runs-on: ubuntu-latest
      steps:
        - name: "Contexto screts"
          env:
            CONTEXT_SECRETS: ${{ toJson(secrets) }}
          run: echo "$CONTEXT_SECRETS"
        - name: "Buscando variavel especifica - (SECRET_TESTE)"
          run: echo "${{ secrets.SECRET_TESTE }}"
